<% if @request.name.present? %>
	<p>Name: <%= @request.name %></p>
<% end %>

<% if @request.email.present? %>
	<p>Email: <%= @request.email %></p>
<% end %>

<% if @request.message.present? %>
	<p>Message: <%= @request.message %></p>
<% end %>