<% @current_uri = request.env['PATH_INFO'] %>

<div>
	<%= link_to image_tag("sant-logo.png", class: 'checkout-logo'), root_url %>
</div>

<div style="font-family: 'Source Sans Pro', sans-serif; font-weight: bold; height: 40px; margin: 50px auto; width: 698px;">
	<% if @current_uri == "/checkout/address" %>
		<span class='progress-on'>
	<% else %>
		<span class='progress-off'>
	<% end %>
		Address
	</span>
	<% if @current_uri == "/checkout/billing" %>
		<span class='progress-on'>
	<% else %>
		<span class='progress-off'>
	<% end %>
		Billing
	</span>
	<% if @current_uri == "/checkout/review" %>
		<span class='progress-on'>
	<% else %>
		<span class='progress-off'>
	<% end %>
		Review
	</span>
</div>