<table>
  <thead>
    <tr>
      <th style="width: 150px;">Order number</th>
      <th style="width: 150px;">Date</th>
      <th style="width: 150px;">Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <td><%= order.created_at.to_date %></td>
        <td><%= number_to_currency(order.subtotal, precision: 2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
