<div style="margin: 80px auto; text-align: center; width: 65%;">
	
	<div class='faq-question' id="q1">
		How do I make Sant infusions?
	</div>
	<div class='faq-answer' id="a1">
		There isn’t a right or wrong way to make it; you make it your way.  Sant’s do-it-yourself style lets you customize the flavor.  The flavor intensifies by adding more fruit or more time for the fruit to infuse.  Color is a good indicator of flavor.  A light pink color will have a hint of flavor and a dark red color will have a strong tart taste.  Experiment.  Perhaps try around 4 pieces for a subtle flavor and 8 pieces for a stronger flavor (per 12 oz).  You can keep using the fruit until it stops releasing color.
		<br /><br />
		You can get creative too - add ingredients, make hot fruit teas, organic sodas, smoothies or cocktails.  The fruit is versatile.  The options are endless.
	</div>
	
	<div class='faq-question' id="q5">
		Where does Sant's superfruit come from?
	</div>
	<div class='faq-answer' id="a5">
		Super heroes create the super fruit and then deliver it to our warehouse every Monday at 11:02 pm.  You don’t believe in super heroes?  Ok then, the fruit is grown in India.  We partner with small-scale farmers in a direct trade arrangement.  The farmers earn above market rate for the organic fruit they grow for you.  (Once you meet our partner farmers you’ll see that they’re basically super heroes.)
	</div>
	
	<div class='faq-question' id="q6">
		Is Sant's superfruit organic?
	</div>
	<div class='faq-answer' id="a6">
		Yes.  The fruit has always been organically grown as it comes from a durable naturally occurring crop that has never required fertilizers or chemical pesticides to grow or enhance its yield.  Since the crop is strictly harvested by small scale farmers who don’t have the means for most organic certification, the organic practices are verified through PGS.
	</div>
	
	<div class='faq-question' id="q7">
		How long does it take for the superfruit to infuse?
	</div>
	<div class='faq-answer' id="a7">
		The fruit can infuse for hours.   The infusion speed depends on the temperature of the water and the moisture content of the fruit.  The warmer the water, the faster the infusion.  With hot water the fruit infuses immediately.  With temperate water the fruit generally starts to infuse within a few minutes.  For a cold beverage, you can add ice after it’s infused, can keep a pitcher infusing in the fridge or start the infusion hours before you want to drink it.  To get a stronger flavor quicker you can add more fruit in the beginning and then keep reusing it until it stops releasing color. 
		<br /><br />
		As for the moisture content, it varies since the fruit is organic and sun-dried.  I try to tell the earth elements to be exactly the same everywhere we grow and the sun to emit the exact same temperature when we dry, but the messages don’t seem to be getting through.  We are continually working on finding the optimal moisture content.
		
	</div>
	
	<div class='faq-question' id="q8">
		Can I use the same superfruit for multiple infusions?
	</div>
	<div class='faq-answer' id="a8">
		Yes.  Once the fruit stops releasing color move on to new fruit.
	</div>
	
	<div class='faq-question' id="q9">
		How long does Sant last?
	</div>
	<div class='faq-answer' id="a9">
		The dried fruit itself lasts up to 1 year.  Once the fruit is infused in water the drink can be kept in the fridge for a week or at room temperature for a day.  Eventually, the beverage will ferment.  Some people dig fermentation.
	</div>
	
	<div class='faq-question' id="q9">
		What does the fruit infusion taste like?
	</div>
	<div class='faq-answer' id="a9">
		The fruit infusions are consistently described as refreshing.  The flavor varies depending on how strong the infusion is.  When it is a light infusion, (a light pink color) it’s close to a rose flavor.  When it is stronger, it is most similar to hibiscus, cranberry and tamarind.  The flavor is tart with a hint of sweetness.  For a sweet option, add brown sugar or honey.  The fruit mixes well with other ingredients too.  Experiment.
	</div>
	
	<div class='faq-question' id="q10">
		How many kinds of fruits and flavors are there?
	</div>
	<div class='faq-answer' id="a10">
		There is 1 kind of fruit that you can customize into countless flavors.
	</div>
	
	<div class='faq-question' id="q10">
		What do I do with the fruit after it infuses?
	</div>
	<div class='faq-answer' id="a10">
		You can eat it, compost it, or use it to make art pieces.  I'm working on a Sant fruit necklace.
	</div>
	
	<div class='faq-question' id="q11">
		Can I eat the fruit on its own?
	</div>
	<div class='faq-answer' id="a11">
		Yes, we dare you.  Warning- it’s pungent.  Try sucking or chewing dried fruit pieces or add it to granola, smoothies, or as a souring agent in cooking. 
 	   	<br /><br />
		The fruit is quite astringent on its own.  The flavor is subdued when the fruit is mixed with other ingredients or water.
	</div>
	
	<div class='faq-question' id="q11">
		How long do the fruit and infusions last?
	</div>
	<div class='faq-answer' id="a11">
		The dried fruit itself lasts over 1 year.  Once the fruit is infused in water the drink can be kept in the fridge for a week or at room temperature for a day.  Eventually, the beverage can ferment.  Some people dig fermentation.
	</div>
	
	<div class='faq-question' id="q12" style='border-bottom: 1px solid lightgray'>
		What's the nutritional information for Sant's superfruit?
	</div>
	<div class='faq-answer' id="a12" style="height: 112px;">
		Calories 5, Fat 0g, Cholesterol 0mg, Sodium 1mg, Total Carbohydrates 4g, Sugars 3g, Protein 0g (Per 16 oz)
 	   	<br /><br />
		Sant’s fruit does not contain or come in contact with dairy, gluten, or peanuts and there are no particular allergy concerns with this fruit.  In fact, traditional medicine uses the fruit to treat allergic reactions.  With that said, every body is different so check with your doctor if you have concerns.
	</div>
	
	<div class='faq-question' id="q13" style="border-bottom: 1px solid lightgray !important;">
		Who can enjoy the Sant superfruit?
	</div>
	<div class='faq-answer' id="a13" style="border-bottom: 1px solid lightgray !important;">
		Everyone. Sant is simply a dried fruit.
	</div>
	
	<div class='faq-question' id="q13" style="border-bottom: 1px solid lightgray !important;">
		Can pregnant women consume the superfruit?
	</div>
	<div class='faq-answer' id="a13" style="border-bottom: 1px solid lightgray !important;">
		First of all, congratulations.  Secondly, yes.  The fruit is recommended for pregnant women due to its nutrient density.  It’s even believed to ease morning sickness.
	</div>
	
	<div class='faq-question' id="q13" style="border-bottom: 1px solid lightgray !important;">
		Are there any potential drug interactions with the superfruit?
	</div>
	<div class='faq-answer' id="a13" style="border-bottom: 1px solid lightgray !important;">
		This question always needs the disclaimer to check with your doctor if you have any concerns.  We work with doctors and scientists and they haven’t found any drug interactions with the fruit.  The dried fruit is not a supplement; it’s simply a fruit.  It’d be like having a drug interaction with blueberries.  It’s highly unlikely.
	</div>
	
	<div class='faq-question' id="q13" style="border-bottom: 1px solid lightgray !important;">
		How is the Sant superfruit consumed?
	</div>
	<div class='faq-answer' id="a13" style="border-bottom: 1px solid lightgray !important;">
		The fruit is traditionally consumed as a drink after meals to aid in digestion, in meals as a souring agent, and when the body is hot or infected as a cooling agent.  
	</div>
	
	<div class='faq-question' id="q3">
		Why did Sant start?
	</div>
	<div class='faq-answer' id="a3">
		The full story involves a woman, a foreign land, veganism, an American TV show, and an attachment issue.  The crux of the story; Sant began as a way to promote conscious consumption.  Sant’s fruit is one tool we use to spread messages and encourage action around health, sustainability, and community.
 	   	<br /><br />
		The details of our past aren’t as important as the present.  What matters now is your response to Sant.<br />
		Try Sant because it feels good when your actions match your values.
	</div>
	
	<div class='faq-question' id="q3">
		Where can I get Sant’s dried superfruit?
	</div>
	<div class='faq-answer' id="a3">
		Right here.  You can order off the Sant site.   We make it easy with an option where the dried fruit can automatically be delivered to your house every month.  
	</div>
</div>


<script>
	$( "#q1" ).click(function() {
	  $( "#a1" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q2" ).click(function() {
	  $( "#a2" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q3" ).click(function() {
	  $( "#a3" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q4" ).click(function() {
	  $( "#a4" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q5" ).click(function() {
	  $( "#a5" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q6" ).click(function() {
	  $( "#a6" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q7" ).click(function() {
	  $( "#a7" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q8" ).click(function() {
	  $( "#a8" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q9" ).click(function() {
	  $( "#a9" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q10" ).click(function() {
	  $( "#a10" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q11" ).click(function() {
	  $( "#a11" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q12" ).click(function() {
	  $( "#a12" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q13" ).click(function() {
	  $( "#a13" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
</script