<div style="margin: 80px auto; text-align: center; width: 65%;">
	
	<div class='faq-question' id="q1">
		Where can I get Sant?
	</div>
	<div class='faq-answer' id="a1">
		You’ll be able to find Sant at farmer’s markets, yoga studios, wellness centers, cafés, online and at retail outlets.  Follow idrinksant on Facebook, Twitter and Instagram for updates on exact locations where Sant will be sold.
	</div>
	
	<div class='faq-question' id="q2">
		Where can I get a Sant Station for my establishment or event?
	</div>
	<div class='faq-answer' id="a2">
		Contact us with details on the location (include exact address and website), the length of time you’d like the Sant Station™ and why you’re interested in setting up a station.
	</div>
	
	<div class='faq-question' id="q3">
		Why did Sant start?
	</div>
	<div class='faq-answer' id="a3">
		The full story involves a woman, a foreign land, veganism, an American TV show, and an attachment issue.  The crux of the story; Sant began as a way to promote conscious consumption.  Sant’s fruit is one tool we use to spread messages and encourage action around health, sustainability, and community.
 	   	<br /><br />
		The details of our past aren’t as important as the present.  What matters now is your response to Sant.<br />
		Try Sant because it feels good when your actions match your values.
	</div>
	
	<div class='faq-question' id="q4">
		How can I get involved in Sant?
	</div>
	<div class='faq-answer' id="a4">
		Guest blog; invite the Sant Station to your event, post your recipes and pictures (#idrinksant) or work with us!  If you’re the kind of person others want to be stuck on a deserted island with, then there’s a place for you at Sant.  Send your resume and information about your talents and passions to klapaglia@idrinksant.com.
	</div>
	
	<div class='faq-question' id="q5">
		Where does Sant's superfruit come from?
	</div>
	<div class='faq-answer' id="a5">
		Super heroes create the super fruit and then deliver it to our warehouse every Monday at 11:02 pm.  You don’t believe in super heroes?  Ok then, the fruit is grown in India.  We partner with small-scale farmers in a direct trade arrangement.  The farmers earn above market rate for the organic fruit they grow for you.  (Once you meet our partner farmers you’ll see that they’re basically super heroes.)
	</div>
	
	<div class='faq-question' id="q6">
		Is Sant's superfruit organic?
	</div>
	<div class='faq-answer' id="a6">
		Yes.  The fruit has always been organically grown as it comes from a durable naturally occurring crop that has never required fertilizers or chemical pesticides to grow or enhance its yield.  Since the crop is strictly harvested by small scale farmers who don’t have the means for most organic certification, the organic practices are verified through PGS.
	</div>
	
	<div class='faq-question' id="q7">
		How long does it take for the superfruit to infuse?
	</div>
	<div class='faq-answer' id="a7">
		Sant’s fruit starts releasing nutrients, flavor, and color as soon as it hits water. The longer the fruit infuses the stronger the color and flavor become.  Sant infuses fastest with room temperature water, but is enjoyed both hot and cold.
	</div>
	
	<div class='faq-question' id="q8">
		Can I use the same superfruit for multiple infusions?
	</div>
	<div class='faq-answer' id="a8">
		Yes.  Once the fruit stops releasing color move on to new fruit.
	</div>
	
	<div class='faq-question' id="q9">
		How long does Sant last?
	</div>
	<div class='faq-answer' id="a9">
		The dried fruit itself lasts up to 1 year.  Once the fruit is infused in water the drink can be kept in the fridge for a week or at room temperature for a day.  Eventually, the beverage will ferment.  Some people dig fermentation.
	</div>
	
	<div class='faq-question' id="q10">
		How many kinds of fruits and flavors are there?
	</div>
	<div class='faq-answer' id="a10">
		There is 1 kind of fruit that you can customize into countless flavors.
	</div>
	
	<div class='faq-question' id="q11">
		Can I eat the fruit?
	</div>
	<div class='faq-answer' id="a11">
		Yes.  The fruit can be eaten after the infusion, on it’s own or mixed with others ingredients.  Sant gets along well with other flavors so it’s easy to create recipes.  Use Sant’s fruit in granola, smoothies and as a souring agent in cooking.
 	   	<br /><br />
		The fruit is quite astringent on its own.  The flavor is subdued when the fruit is mixed with other ingredients or water.
	</div>
	
	<div class='faq-question' id="q12">
		What's the nutritional information for Sant's superfruit?
	</div>
	<div class='faq-answer' id="a12">
		Calories 5, Fat 0g, Cholesterol 0mg, Sodium 1mg, Total Carbohydrates 4g, Sugars 3g, Protein 0g (Per 16 oz)
 	   	<br /><br />
		Sant’s fruit does not contain or come in contact with dairy, gluten, or peanuts and there are no particular allergy concerns with this fruit.  In fact, traditional medicine uses the fruit to treat allergic reactions.  With that said, every body is different so check with your doctor if you have concerns.
	</div>
	
	<div class='faq-question' id="q13">
		Who can enjoy sant?
	</div>
	<div class='faq-answer' id="a13">
		Everyone. Sant is simply a dried fruit.
	</div>
</div>


<script>
	$( "#q1" ).click(function() {
	  $( "#a1" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q2" ).click(function() {
	  $( "#a2" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q3" ).click(function() {
	  $( "#a3" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q4" ).click(function() {
	  $( "#a4" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q5" ).click(function() {
	  $( "#a5" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q6" ).click(function() {
	  $( "#a6" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q7" ).click(function() {
	  $( "#a7" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q8" ).click(function() {
	  $( "#a8" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q9" ).click(function() {
	  $( "#a9" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q10" ).click(function() {
	  $( "#a10" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q11" ).click(function() {
	  $( "#a11" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q12" ).click(function() {
	  $( "#a12" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
	$( "#q13" ).click(function() {
	  $( "#a13" ).slideDown( "slow", function() {
	    // Animation complete.
	  });
	});
</script