<%= image_tag("homepagewithtext.jpg", class: 'desktop-tablet', style: "margin-top: -20px; width: 100%") %>
<!-- <div class='desktop' style="color: white; font-size: 28px; margin-top: -31%; margin-left: 58%; text-align: center; z-index: 100; width: 260px;">
</div> -->

<!-- <div class='tablet-mobile' style="color: #404040; font-size: 16px; margin: 25px 0 0 0; text-align: center; z-index: 100; width: 100%;">
</div> -->