<%= image_tag('kickstarter-homepage.jpg', class: 'desktop-tablet', style: "margin-top: -20px; width: 100%") %>
<%= image_tag('sant-banner.jpg', class: 'mobile', style: "margin-top: -20px; width: 100%") %>
<div class='desktop' style="color: white; font-size: 28px; margin-top: -31%; margin-left: 58%; text-align: center; z-index: 100; width: 260px;">
	<%= link_to 'You know you want to', "https://www.kickstarter.com/projects/sant-superfruitdrink/sant-dried-superfruit-infuses-into-a-fresh-beverag", class: 'btn btn-primary', style: 'background-color: #DF4171; border: none; font-size: 20px; margin-top: 58%; padding: 12px 18px;', target: "_blank" %>
</div>
<div style='clear: both; color: #404040; font-size: 20px; margin: 175px 0 60px 0; text-align: center; width: 100%;'>
	The dried <span style="font-weight: bold;">superfruit</span> that transforms into a fresh <span style="font-weight: bold;">beverage</span><br />
</div>
<div class='tablet' style="color: white; font-size: 18px; margin-top: -32%; margin-left: 50%; text-align: center; z-index: 100; width: 260px;">
	The dried <span style="font-weight: bold;">superfruit</span> that transforms into a fresh <span style="font-weight: bold;">beverage</span><br />
	<%= button_to 'Order Now', "", class: 'btn btn-primary', style: 'background-color: #DF4171; border: none; font-size: 14px; margin-top: 18px; padding: 10px 14px;' %>
</div>