    <!-- begin Contact Page -->
    <div class="page-header-image contact">&nbsp;
   
    </div>
    <div class="container page">    
    <h1>Contact Us</h1>    
      
      <%= render 'contact_requests/form' %>
     
    </div>  
    <!-- end Contact Page -->