<!-- Begin Recipes page -->

<div class="page-header-image recipes">&nbsp;

    </div>
    <div class="container page">
        <h1>Recipes</h1>

        <!--Begin Thumbnails -->
        
            <div class=" thumbnails">  
            <div class="thumb">
                <a href="#coconut-milk" class="smoothScroll"> <span class="recipe-thumb"><img src="../images/recipe-coconut-millk.png" alt="Coconut Milk"  />
                </span>
                    <span class="recipe-title">Coconut Milk</span>
                </a>
            </div>
            <div class="col-4 thumb">
                <a href="#coconut-water" class="smoothScroll"><span class="recipe-thumb"><img src="../images/recipe-coconut-water.png" alt="Coconut Water" />
                </span>
                <span class="recipe-title">Coconut Water</span></a>
            </div>
            <div class="col-4 thumb">
                <a href="#cucumber-lemon-basil" class="smoothScroll"><span class="recipe-thumb"><img src="../images/recipe-cucumber-lemon-basil.png" alt="Cucumber Lemon Basil Infusion" />
                </span>
                <span class="recipe-title">Cucumber Lemon Basil Infusion</span></a>
            </div>
            <div class="col-4 thumb">
                <a href="#ginger-soda" class="smoothScroll"><span class="recipe-thumb"><img src="../images/recipe-ginger-soda.png" alt="Ginger Soda" />
                </span>
                <span class="recipe-title">Ginger Soda</span></a>
            </div>
            <div class="col-4 thumb">
                <a href="#grapefruit-juice" class="smoothScroll"><span class="recipe-thumb"><img src="../images/recipe-grapefruit-juice.png" alt="Grapefruit Juice and Rosemary" />
                </span>
                <span class="recipe-title">Grapefruit Juice and Rosemary</span>  </a>
            </div>
            <div class="col-4 thumb">
                <a href="#green-smoothie" class="smoothScroll"><span class="recipe-thumb">
                    <img src="../images/recipe-green-smoothie.png" alt="Green Smoothie" />
                </span>
                <span class="recipe-title">Green Smoothie</span>  </a>
            </div>
            <div class="col-4 thumb">
                <a href="#green-tea-mint" class="smoothScroll"> <span class="recipe-thumb">
                    <img src="../images/recipe-green-tea-mint.png" alt="Green Tea and Mint" />
                </span>
                    <span class="recipe-title">Green Tea and Mint</span>
                </a>
            </div>
            <div class="col-4 thumb">
                <a href="#horchata" class="smoothScroll"><span class="recipe-thumb">
                    <img src="../images/recipe-horchata.png" alt="Horchata" />
                </span>
                <span class="recipe-title">Horchata</span> </a>
            </div>
      
            <div class="col-4 thumb">
                <a href="#italian-soda" class="smoothScroll"><span class="recipe-thumb">
                    <img src="../images/recipe-italian-soda.png" alt="Italian Soda" />
                </span>
                <span class="recipe-title">Italian Soda</span>  </a>
            </div>
            <div class="col-4 thumb">
                <a href="#santgria" class="smoothScroll"><span class="recipe-thumb">
                    <img src="../images/recipe-santgria.png" alt="Santgria" />
                </span>
                <span class="recipe-title">Santgria</span>  </a>
            </div>
          
        </div>




        <!--Begin Full Recipes -->

        <div class="row recipe">
            <a name="coconut-milk" class="anchor"></a>
            <div class="col-7 recipe-image"><img src="../images/recipe-coconut-millk.png" alt="Coconut Milk" />
            </div>
            <div class="col-5 recipe-desc">
                <h2>Coconut Milk</h2>
                <h4>Ingredients:</h4>
                <ul>
                    <li>6 pieces of Sant</li>
                    <li>Coconut milk</li>
                    <li>Sweetener (optional)</li>
                </ul>
                <h4>Directions:</h4>
                <ol>
                    <li>Infuse Sant in coconut milk for an hour</li>
                    <li>Add sweetener to taste</li>
                </ol>
            </div>
        </div>


        <div class="row recipe">
            <a name="coconut-water" class="anchor"></a>
            <div class="col-7 recipe-image"><img src="../images/recipe-coconut-water.png" alt="Coconut Water" />
            </div>

            <div class="col-5 recipe-desc">
                <h2>Coconut Water</h2>
                <h4>Ingredients:</h4>
                <ul>
                    <li>4-6 pieces of Sant</li>
                    <li>Glass of coconut water</li>
                </ul>
                <h4>Directions:</h4>
                <ol>
                    <li>Infuse Sant in a glass of coconut water for an hour</li>
                </ol>
            </div>
        </div>


        <div class="row recipe">
            <a name="cucumber-lemon-basil" class="anchor"></a>
            <div class="col-7 recipe-image"><img src="../images/recipe-cucumber-lemon-basil.png" alt="Cucumber Lemon Basil Infusion" />
            </div>
            <div class="col-5 recipe-desc">
                <h2>Cucumber Lemon Basil Infusion</h2>
                <h4>Ingredients:</h4>
                <ul>
                    <li>5 pieces of Sant</li>
                    <li>Glass of water</li>
                    <li>4 lemon slices</li>
                    <li>4 cucumber slices</li>
                    <li>A pinch of chopped basil</li>
                </ul>
                <h4>Directions:</h4>
                <ol>
                    <li>Infuse Sant, lemon slices, cucumber and basil in a glass of water or reusable water bottle for an hour</li>
                </ol>
            </div>
        </div>


        <div class="row recipe">
            <a name="ginger-soda" class="anchor"></a>
            <div class="col-7 recipe-image"><img src="../images/recipe-ginger-soda.png" alt="Ginger Soda" />
            </div>
            <div class="col-5 recipe-desc">
                <h2>Ginger Soda</h2>
                <h4>Ingredients:</h4>
                <ul>
                    <li>6 pieces of Sant</li>
                    <li>Glass of sparkling water</li>
                    <li>1/2 inch of ginger root</li>
                    <li>Slice of lemon</li>
                    <li>Sweetener (optional)</li>
                </ul>
                <h4>Directions:</h4>
                <ol>
                    <li>Infuse 6 pieces of Sant in sparkling water for 30 minutes</li>
                    <li>Add 1/2 inch of giner and squeeze a few drops of lemon juice</li>
                    <li>Add sweetener to taste</li>
                </ol>
            </div>
        </div>

        <div class="row recipe">
            <a name="grapefruit-juice" class="anchor"></a>
            <div class="col-7 recipe-image">
                <img src="../images/recipe-grapefruit-juice.png" alt="Grapefruit Juice and Rosemary" />
            </div>
            <div class="col-5 recipe-desc">
                <h2>Grapefruit Juice and Rosemary</h2>
                <h4>Ingredients:</h4>
                <ul>
                    <li>5 pieces of Sant</li>
                    <li>Tea strainer</li>
                    <li>Glass of wine</li>
                    <li>Grapefruit juice</li>
                    <li>Fresh rosemary sprig</li>
                </ul>
                <h4>Directions:</h4>
                <ol>
                    <li>Add rosemary leaves to tea strainer</li>
                    <li>Infuse rosemary and Sant in a glass of water overnight</li>
                    <li>Pour grapefruit juice in a glass. Stop at 3/4 full</li>
                    <li>Top off with the Sant and rosemary infusion</li>
                </ol>
            </div>
        </div>

        <div class="row recipe">
            <a name="green-smoothie" class="anchor"></a>
            <div class="col-7 recipe-image">
                <img src="../images/recipe-green-smoothie.png" alt="Green Smoothie">
            </div>
            <div class="col-5 recipe-desc">
                <h2>Green Smoothie</h2>
                <h4>Ingredients:</h4>
                <ul>
                    <li>15 pieces of Sant</li>
                    <li>4 kale leaves</li>
                    <li>1 banana</li>
                    <li>1 pear</li>
                </ul>
                <h4>Directions</h4>
                <ol>
                    <li>Blend ingredients in a blender until it creates a smooth consistency</li>
                </ol>
            </div>
        </div>

        <div class="row recipe">
            <a name="green-tea-mint" class="anchor"></a>
            <div class="col-7 recipe-image">
                <img src="../images/recipe-green-tea-mint.png" alt="Green Tea and Mint">
            </div>
            <div class="col-5 recipe-desc">
                <h2>Green Tea and Mint</h2>
                <h4>Ingredients:</h4>
                <ul>
                    <li>4-6 pieces of Sant</li>
                    <li>1 bag of green tea, steeped in hot water</li>
                    <li>A pinch of chopped mint (optional)</li>
                </ul>
                <h4>Directions:</h4>
                <ol>
                    <li>Add pieces of Sant to green tea, let infuse for 30 minutes</li>
                    <li>Sprinkle chopped mint into the tea to get and extra refreshing flavor</li>
                </ol>
            </div>
        </div>

        <div class="row recipe">
            <a name="horchata" class="anchor"></a>
            <div class="col-7 recipe-image">
                <img src="../images/recipe-horchata.png" alt="Horchata">
            </div>
            <div class="col-5 recipe-desc">
                <h2>Horchata</h2>
                <h4>Ingredients:</h4>
                <ul>
                    <li>4-6 pieces of Sant</li>
                    <li>Rice milk</li>
                    <li>Sweetener</li>
                </ul>
                <h4>Directions:</h4>
                <ol>
                    <li>Infuse Sant in rice milk for an hour</li>
                    <li>Add a dash of cinamon</li>
                    <li>Sweeten to taste</li>
                </ol>
            </div>
        </div>

        <div class="row recipe">
            <a name="italian-soda" class="anchor"></a>
            <div class="col-7 recipe-image">
                <img src="../images/recipe-italian-soda.png" alt="Italian Soda">
            </div>
            <div class="col-5 recipe-desc">
                <h2>Italian Soda</h2>
                <h4>Ingredients:</h4>
                <ul>
                    <li>6 pieces of Sant</li>
                    <li>Sparkling water</li>
                    <li>Splash of cream</li>
                    <li>Sweetener (optional></li>
                </ul>
                <h4>Directions:</h4>
                <ol>
                    <li>Infuse 6 pieces of Sant in sparkling water for an hour</li>
                    <li>Add a splash of cream</li>
                    <li>Sweeten to taste</li>
                </ol>
            </div>
        </div>

        <div class="row recipe">
            <a name="santgria" class="anchor"></a>
            <div class="col-7 recipe-image">
                <img src="../images/recipe-santgria.png" alt="Sangria">
            </div>
            <div class="col-5 recipe-desc">
                <h2>Santgria</h2>
                <h4>Ingredients:</h4>
                <ul>
                    <li>5 pieces of Sant</li>
                    <li>Glass of water</li>
                    <li>Sweetener</li>
                    <li>Cut watermelon</li>
                    <li>Cut apple</li>
                    <li>Sliced grapes</li>
                </ul>
                <h4>Directions:</h4>
                <ol>
                    <li>Infuse Sant in water overnight</li>
                    <li>Ass a shot (or two) of vodka to Sant infusion</li>
                    <li>Add sweetener to taste</li>
                    <li>Add watermelon, apple, and grapes.</li>
                </ol>
            </div>
        </div>

    </div>
<!-- end full recipes -->
<!--End Recipes Page -->