<!-- begin Sessions Page -->
<div class="page-header-image sessions">&nbsp;
   
    </div>
<div class="container page">    
    <h1>Sant Sessions</h1>    
    <h3>Promoting balance</h3>
        <p>Putting nutrient-rich all natural beverages into our bodies is one component of a balanced life. To share other experiences, tools and techniques, which foster balance, we created Sant Sessions.</p> 

<p>The first Sant Session was a meditation guided by Vova Kuperman.  People from around the U.S. gathered to connect and center themselves on a Sunday evening.  (Pretty great way to start the week off, right?)</p>
<div class="spacer"></div>
<h3>You&rsquo;re invited to a Sant Session</h3>
<p>Join us for a session.  Most of the sessions are live online so it&rsquo;s easy to participate.  We&rsquo;ll be announcing the next Sant Sessions soon. If you&rsquo;d like more info, let&rsquo;s connect.</p>
<div class="vertical-container">  
<a href="../contact/" class="button">Sign Up</a></div> 
  </div>  
<!--End Sessions Page -->