<!-- begin Story Page -->
<div class="page-header-image story">&nbsp;</div>
<div class="container page">    
    <div class="story-full">
      <h1>We stand for balance </h1>
      <p>Sant is short for Santulan, which means balance.  We believe balance is the impetus for all the good stuff in the world like health, peace, fortitude, love, gratitude, and compassion. </p>
    </div>
    <div class="row">
      <div class="story-left col-5">
        <h3>Supporting Communities</h3>
        <p>Families in the rural communities we work with in India can’t meet basic needs from farming.  Many people migrate to the cities and some even commit suicide.  The situation is tough, but there is hope.  And we’re a part of it.  We create economic opportunities by giving farmers and women’s groups tools to effectively harvest, paying well-above market rates and spreading the word about Garcinia to increase the demand. </p>

        <h3>Spreading love, gratitude and compassion</h3>
        <p>In addition to our efforts in India, we’re promoting balance and spreading love, compassion and gratitude through Sant Sessions.  We’ve got some other things in the works too ;).</p>
      </div>
      <div class="col-1"></div>
      <div class="story-right col-5">
        <%= image_tag "women self help.png", size: "450x300", style: "border-radius: 20px; margin-top: 20px;" %>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="story-full">
      <h1>Join us on the journey</h1>
      <h3>How it began, from the Santrepreneur who started this whole thing</h3>
    </div>
    <div class="row">
      <div class="story-left col-5">
        <p>In 2011, I quit my job to start a social enterprise. I took a leap and quickly fell on my face. And it hurt. There was a loss of identity, repeated failures and insecurities. I felt damaged. To learn more about social enterprises and more about myself, I moved to India.
        Life in India challenged my beliefs, particularly around health and the environment. I started listening to my body, stopped watching calories, kicked a coffee habit, meditated daily, eliminated unnecessary consumption, replaced feelings of anger and guilt with love, compassion and gratitude and researched becoming Vegan. The vegan component led me to Garcinia indica. 
        It hasn’t been easy, yet I’m grateful for the experience.  I can’t imagine doing anything other than promoting balance, health, the environment, love, gratitude, and compassion.  There the things I value. And it feels good when your actions match your values.
        Hugs, Kim
        </p>
      </div>
      <div class="col-1"></div>
      <div class="story-right col-5">
        <%= image_tag "Copy of Kim Sant .jpg", size: "450x300", style: "border-radius: 20px; margin-top: 20px;" %>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="story-full">
      <h3>It’s your story now</h3>
      <p>The details of Sant’s past aren’t as important as the present.  What matters now is what you think.  Try the fruit infusions and Sant sessions and tell others about them.  If you have stories about balance or ideas for what else we can do, share them with us at balance@idrinksant.com.  </p>
    </div>
</div>
    <!-- End Story Page -->