.form-view {
	margin: 0 auto;
	width: 200px;
}
.btn-primary {
	background-color: darkgray;
	border-color: darkgray;
}



@import 'bootstrap_and_customization';
@import 'carts';
@import 'homepage';
@import 'orders';
@import 'payment_methods';
@import 'products';
@import 'profiles';