.cart-view {
	margin: 120px auto 0 auto;
	width: 300px;
}

.btn-add {
	float: left; 
	padding: 0 4px; 
	margin-right: 5px;
}

.btn-subtract {
	float: left; 
	padding: 0px 4.5px; 
}

.checkout-tab {
	font-size: 14px !important;
	top: 63px;
	right: 21%;
	position: absolute;
	padding: 8px 20px 10px 20px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border: 1px solid lightgray;
	color: white;
	z-index: 1;
	a:link, a:visited, a:hover {
		font-size: 14px !important;
		color: white;
		text-decoration: none;
	}
}
.checkout-tab-home {
	border: 1px solid lightgray;
	font-size: 14px !important;
	top: 64px;
	right: 21%;
	position: absolute;
	padding: 8px 20px 10px 20px;
	background-color: white;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top: none;
	color: white;
	z-index: 1;
	a:link, a:visited, a:hover {
		font-size: 14px !important;
		color: #777777;
		text-decoration: none;
	}
}

.progress-on {
	border: 2px solid #DF4174; 
	display: inline-block; 
	float: left;
	padding: 10px;
	text-align: center; 
	width: 230px;
}
.progress-off {
	border: 1px solid lightgray; 
	display: inline-block; 
	float: left;
	margin: 1px 0 0 -1px;
	padding: 10px;
	text-align: center; 
	width: 230px;
}

#domestic-address {
	display: block;
}
#domestic-address-label {
	display: none;
}
#international-address {
	display: none;
}
#international-address-label {
	display: block;
}