// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-container {
	margin: 80px auto 0 auto; 
	text-align: center; 
	width: 80%;
}
.products-menu {
	border: 1px solid lightgray; 
	border-radius: 3px; 
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 16px 0px; 
	display: inline-block;
	padding: 40px 50px 26px 50px; 
	margin: 20px;
	width: 400px;
}
.product-option {
	display: inline-block; 
	margin: 10px 0; 
	width: 300px;
}
.product-label {
	color: #555555; 
	float: left; 
	font-size: 14px; 
	display: inline-block; 
	line-height: 20px;
	text-align: left;
}
.btn-subscribe {
	width: 94px;
}