@media (min-width: 676px) {
	.desktop {
		display: block !important;
	}
	.desktop-tablet {
		display: block !important;
	}
	.tablet {
		display: none !important;
	}
	.tablet-mobile {
		display: none !important;
	}
	.mobile {
		display: none !important;
	}
}
@media (max-width: 767px) and (min-width: 480px) {
	.desktop {
		display: none !important;
	}
	.desktop-tablet {
		display: block !important;
	}
	.tablet {
		display: block !important;
	}
	.tablet-mobile {
		display: block !important;
	}
	.mobile {
		display: none !important;
	}
}
@media (max-width: 480px) {
	.desktop {
		display: none !important;
	}
	.desktop-tablet {
		display: none !important;
	}
	.tablet {
		display: none !important;
	}
	.tablet-mobile {
		display: block !important;
	}
	.mobile {
		display: block !important;
	}
}