/**
---------------------
RESET BROWSER STYLES
---------------------
**/
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans:300,500,800|Permanent+Marker);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
------------
SETUP GRID STYLES
------------
**/
.container-flex {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-centered {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.vertical-container, .vc-slider-caption, .vc-sustainable, .vc-super-healthy, .vc-balance, footer .footer-social .icon, footer .footer-social .second-menu .icon .icon-simple, .second-menu .icon footer .footer-social .icon-simple, footer .footer-social .second-menu .icon .icon-super-healthy, .second-menu .icon footer .footer-social .icon-super-healthy, footer .footer-social .second-menu .icon .icon-sustainable, .second-menu .icon footer .footer-social .icon-sustainable, footer .footer-social .second-menu .icon .icon-sant, .second-menu .icon footer .footer-social .icon-sant {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.row {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.row-no-margin {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.col-1 {
  -webkit-flex: initial;
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  width: 8.33333333333333%;
}

.col-2 {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 16.66666666666666%;
}

.col-3 {
  -webkit-flex: 2;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 24.99999999999999%;
}

.col-4 {
  -webkit-flex: 3;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 33.33333333333332%;
}

.col-5 {
  -webkit-flex: 4;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 41.66666666666665%;
}

.col-6 {
  -webkit-flex: 5;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  width: 49.99999999999998%;
}

.col-7 {
  -webkit-flex: 6;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  width: 58.33333333333331%;
}

.col-8 {
  -webkit-flex: 7;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  width: 66.66666666666664%;
}

.col-9 {
  -webkit-flex: 8;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  width: 74.99999999999997%;
}

.col-10 {
  -webkit-flex: 9;
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  width: 83.3333333333333%;
}

.col-11 {
  -webkit-flex: 12;
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
  width: 100%;
}

.col-12 {
  -webkit-flex: 11;
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .row {
    display: -webkit-inline-block;
    display: inline-block;
    width: 100%;
    margin: 20px auto;
    padding: 0;
    overflow: hidden;
  }

  .row-no-margin {
    display: -webkit-inline-block;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    -webkit-flex: none;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: inline-block;
    width: 100%;
    margin: 10px auto;
  }
}
/**
-------------
GLOBAL STYLES
-------------
**/
html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #6d6d6d;
  background-color: #fff;
}

h1 {
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 2.5em;
  line-height: 1.5em;
  color: #ed0c6e;
}

h2 {
  font-famiLy: "Alegreya Sans", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.6em;
  line-height: 1.5em;
}

h3 {
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  text-transform: uppercase;
  margin-bottom: .5em;
  line-height: 1.5em;
}

h4 {
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: .5em;
  line-height: 1.5em;
}

a {
  color: #6d6d6d;
  text-decoration: none;
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  font-weight: 300;
  -webkit-transition: color .2s ease-in-out;
  -mox-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
a :hover {
  color: #02ace3;
  -webkit-transition: color .2s ease-in-out;
  -mox-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
a :active {
  color: #ed0c6e;
}
a :visited {
  color: #6d6d6d;
}

a.button {
  background: #ed0c6e;
  width: 100px;
  padding: 10px 15px;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-weight: 500;
  -webkit-transition: background .2s ease-in-out;
  -mox-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

a:hover.button {
  background: #02ace3;
  -webkit-transition: background .2s ease-in-out;
  -mox-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.anchor {
  position: relative;
  display: block;
  top: -55px;
  visibility: hidden;
}

p {
  font-size: 1.125em;
  line-height: 1.2em;
  font-weight: 300;
  margin: 20px auto;
}

.spacer {
  margin: 60px auto;
}

blockquote {
  padding: 10px 50px;
}

/**
--------------------------
MAIN NAVIGATION BAR STYLES
--------------------------
**/
.navbar, .navbar-fixed {
  background: #fff;
  height: 62px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.navbar-fixed {
  height: 150px;
  position: relative;
}

.nav-logo {
  position: relative;
  z-index: 10;
  text-align: center;
  margin-top: 10px;
}

.mobile-logo {
  display: none;
  visibility: hidden;
}

.nav {
  margin: 0 auto;
  width: 100%;
  position: relative;
  font-weight: 500;
}
.nav li {
  list-style: none;
  display: inline-block;
  position: relative;
  width: auto;
  margin: 25px 20px 0 0;
  cursor: pointer;
  text-align: center;
}
.nav li a {
  font-weight: 500;
  -webkit-transition: color .2s ease-in-out;
  -mox-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.nav li a:hover {
  color: #ed0c6e;
  -webkit-transition: color .2s ease-in-out;
  -mox-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

/** Responsive Menu **/
.menu-btn {
  position: absolute;
  top: 30px;
  right: 20px;
}

.menu-btn span {
  display: none;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  background: black;
  z-index: 99;
}

.responsive-menu {
  display: none;
  visibility: hidden;
  text-align: center;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}
.responsive-menu ul li {
  background: #efefef;
  border-bottom: 1px #fff solid;
  padding: 10px;
}
.responsive-menu ul li a {
  font-size: 1.2em;
}
.responsive-menu ul li ul {
  border-top: 1px #dedede solid;
  background: #efefef;
}
.responsive-menu ul li ul li {
  border: none;
  padding: 5px;
}

.sub-menu {
  display: none;
}

.open-menu-link {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  font-family: Helvetica, Verdana, sans-serif;
}

/**
-----------
GLOBAL PAGE STYLES
-----------
**/
.page {
  min-height: 400px;
  /** body of page should always show at least 400px **/
  padding: 50px 0 200px 0;
}
.page h1 {
  margin-bottom: 50px;
}

/**
---------
HOME PAGE
---------
**/

/** SIMPLE, SUPER HEALTHY, SUSTAINABLE, SANT SUB-MENU **/
.second-menu {
  position: relative;
  width: 100%;
  background-color: #fff;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
.second-menu .second-menu-item {
  width: auto;
  height: 100px;
  text-align: center;
  padding: 20px;
}
.second-menu .icon, 
.second-menu .icon .icon-simple, 
.second-menu .icon .icon-super-healthy, 
.second-menu .icon .icon-sustainable, 
.second-menu .icon .icon-sant {
  display: block;
  width: auto;
  -webkit-transition: all .2s ease-in-out;
  -mox-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  height: 30px;
}
.second-menu .icon .icon-simple {
  margin-bottom: 10px;
  background: url("icon-sant-bc32e2f37f47b90a2b61f01713437c8c.png") no-repeat center center;
  background-size: contain;
}
.second-menu .icon .icon-super-healthy {
  margin-bottom: 10px;
  background: url("icon-super-healthy-af6400aafade8f98a0a24a668d271416.png") no-repeat center center;
  background-size: contain;
}
.second-menu .icon .icon-sustainable {
  margin-bottom: 10px;
  background: url("icon-sustainable-d3675852478623072bebc1cf9a8c0454.png") no-repeat center center;
  background-size: contain;
}
.second-menu .icon .icon-sant {
  margin-bottom: 10px;
  background: url("icon-sant-bc32e2f37f47b90a2b61f01713437c8c.png") no-repeat center center;
  background-size: contain;
}
.second-menu .icon:hover, .second-menu .icon .icon-simple:hover, .second-menu .icon .icon-super-healthy:hover, .second-menu .icon .icon-sustainable:hover, .second-menu .icon .icon-sant:hover {
  color: #02ace3;
  -webkit-transition: all .2s ease-in-out;
  -mox-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.second-menu .icon:hover .icon-simple, .second-menu .icon .icon-simple:hover .icon-simple, .second-menu .icon .icon-super-healthy:hover .icon-simple, .second-menu .icon .icon-sustainable:hover .icon-simple, .second-menu .icon .icon-sant:hover .icon-simple {
  background: url("icon-simple-hover-c66352147dccbfc003708bfddc9a196a.png") no-repeat center center;
  background-size: contain;
}
.second-menu .icon:hover .icon-super-healthy, .second-menu .icon .icon-simple:hover .icon-super-healthy, .second-menu .icon .icon-super-healthy:hover .icon-super-healthy, .second-menu .icon .icon-sustainable:hover .icon-super-healthy, .second-menu .icon .icon-sant:hover .icon-super-healthy {
  background: url("icon-super-healthy-hover-96a24f90a49ec1afa1bac948c5fc30eb.png") no-repeat center center;
  background-size: contain;
}
.second-menu .icon:hover .icon-sustainable, .second-menu .icon .icon-simple:hover .icon-sustainable, .second-menu .icon .icon-super-healthy:hover .icon-sustainable, .second-menu .icon .icon-sustainable:hover .icon-sustainable, .second-menu .icon .icon-sant:hover .icon-sustainable {
  background: url("icon-sustainable-hover-bc7d69b91991aa031a869ad3d4813e30.png") no-repeat center center;
  background-size: contain;
}
.second-menu .icon:hover .icon-sant, .second-menu .icon .icon-simple:hover .icon-sant, .second-menu .icon .icon-super-healthy:hover .icon-sant, .second-menu .icon .icon-sustainable:hover .icon-sant, .second-menu .icon .icon-sant:hover .icon-sant {
  background: url("icon-simple-hover-c66352147dccbfc003708bfddc9a196a.png") no-repeat center center;
  background-size: contain;
}

/** FRONT PAGE SLIDER STYLES **/
.gallery .control-operator:target ~ .controls .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
  -webkit-text-shadow: 1px 1px 1px rgba(204, 204, 204, 0.8);
  -moz-text-shadow: 1px 1px 1px rgba(204, 204, 204, 0.8);
  -o-text-shadow: 1px 1px 1px rgba(204, 204, 204, 0.8);
  text-shadow: 1px 1px 1px rgba(204, 204, 204, 0.8);
}

.gallery .control-button:first-of-type,
.gallery .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1),
.gallery .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2),
.gallery .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3),
.gallery .control-operator:nth-of-type(4):target ~ .controls .control-button:nth-of-type(4),
.gallery .control-operator:nth-of-type(5):target ~ .controls .control-button:nth-of-type(5) {
  color: white;
  color: rgba(255, 255, 255, 0.8);
  -webkit-text-shadow: 1px 1px 1px rgba(204, 204, 204, 0.8);
  -moz-text-shadow: 1px 1px 1px rgba(204, 204, 204, 0.8);
  -o-text-shadow: 1px 1px 1px rgba(204, 204, 204, 0.8);
  text-shadow: 1px 1px 1px rgba(204, 204, 204, 0.8);
}

.gallery .item:first-of-type {
  position: static;
  pointer-events: auto;
  opacity: 1;
}

.gallery .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.gallery .control-operator {
  display: none;
}

.gallery .control-operator:target ~ .item {
  pointer-events: none;
  opacity: 0;
  -webkit-animation: none;
  animation: none;
}

.gallery .control-operator:target ~ .controls .control-button {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes controlAnimation-2 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
  14.3%, 50% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }
  64.3%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}
@keyframes controlAnimation-2 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
  14.3%, 50% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }
  64.3%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}
@-webkit-keyframes galleryAnimation-2 {
  0% {
    opacity: 0;
  }
  14.3%, 50% {
    opacity: 1;
  }
  64.3%, 100% {
    opacity: 0;
  }
}
@keyframes galleryAnimation-2 {
  0% {
    opacity: 0;
  }
  14.3%, 50% {
    opacity: 1;
  }
  64.3%, 100% {
    opacity: 0;
  }
}
.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.items-2.autoplay .control-button {
  -webkit-animation: controlAnimation-2 14s infinite;
  animation: controlAnimation-2 14s infinite;
}

.items-2.autoplay .item {
  -webkit-animation: galleryAnimation-2 14s infinite;
  animation: galleryAnimation-2 14s infinite;
}

.items-2 .control-button:nth-of-type(1),
.items-2 .item:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.items-2 .control-button:nth-of-type(2),
.items-2 .item:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

@-webkit-keyframes controlAnimation-3 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
  9.5%, 33.3% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }
  42.9%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}
@keyframes controlAnimation-3 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
  9.5%, 33.3% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }
  42.9%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}
@-webkit-keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }
  9.5%, 33.3% {
    opacity: 1;
  }
  42.9%, 100% {
    opacity: 0;
  }
}
@keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }
  9.5%, 33.3% {
    opacity: 1;
  }
  42.9%, 100% {
    opacity: 0;
  }
}
.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.items-3.autoplay .control-button {
  -webkit-animation: controlAnimation-3 21s infinite;
  animation: controlAnimation-3 21s infinite;
}

.items-3.autoplay .item {
  -webkit-animation: galleryAnimation-3 21s infinite;
  animation: galleryAnimation-3 21s infinite;
}

.items-3 .control-button:nth-of-type(1),
.items-3 .item:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.items-3 .control-button:nth-of-type(2),
.items-3 .item:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.items-3 .control-button:nth-of-type(3),
.items-3 .item:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

@-webkit-keyframes controlAnimation-4 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
  7.1%, 25% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }
  32.1%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}
@keyframes controlAnimation-4 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
  7.1%, 25% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }
  32.1%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}
@-webkit-keyframes galleryAnimation-4 {
  0% {
    opacity: 0;
  }
  7.1%, 25% {
    opacity: 1;
  }
  32.1%, 100% {
    opacity: 0;
  }
}
@keyframes galleryAnimation-4 {
  0% {
    opacity: 0;
  }
  7.1%, 25% {
    opacity: 1;
  }
  32.1%, 100% {
    opacity: 0;
  }
}
.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1;
}

.items-4.autoplay .control-button {
  -webkit-animation: controlAnimation-4 28s infinite;
  animation: controlAnimation-4 28s infinite;
}

.items-4.autoplay .item {
  -webkit-animation: galleryAnimation-4 28s infinite;
  animation: galleryAnimation-4 28s infinite;
}

.items-4 .control-button:nth-of-type(1),
.items-4 .item:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.items-4 .control-button:nth-of-type(2),
.items-4 .item:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.items-4 .control-button:nth-of-type(3),
.items-4 .item:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.items-4 .control-button:nth-of-type(4),
.items-4 .item:nth-of-type(4) {
  -webkit-animation-delay: 19s;
  animation-delay: 19s;
}

@-webkit-keyframes controlAnimation-5 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
  5.7%, 20% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }
  25.7%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}
@keyframes controlAnimation-5 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
  5.7%, 20% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }
  25.7%, 100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}
@-webkit-keyframes galleryAnimation-5 {
  0% {
    opacity: 0;
  }
  5.7%, 20% {
    opacity: 1;
  }
  25.7%, 100% {
    opacity: 0;
  }
}
@keyframes galleryAnimation-5 {
  0% {
    opacity: 0;
  }
  5.7%, 20% {
    opacity: 1;
  }
  25.7%, 100% {
    opacity: 0;
  }
}
.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(5):target ~ .item:nth-of-type(5) {
  pointer-events: auto;
  opacity: 1;
}

.items-5.autoplay .control-button {
  -webkit-animation: controlAnimation-5 35s infinite;
  animation: controlAnimation-5 35s infinite;
}

.items-5.autoplay .item {
  -webkit-animation: galleryAnimation-5 35s infinite;
  animation: galleryAnimation-5 35s infinite;
}

.items-5 .control-button:nth-of-type(1),
.items-5 .item:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.items-5 .control-button:nth-of-type(2),
.items-5 .item:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.items-5 .control-button:nth-of-type(3),
.items-5 .item:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.items-5 .control-button:nth-of-type(4),
.items-5 .item:nth-of-type(4) {
  -webkit-animation-delay: 19s;
  animation-delay: 19s;
}

.items-5 .control-button:nth-of-type(5),
.items-5 .item:nth-of-type(5) {
  -webkit-animation-delay: 26s;
  animation-delay: 26s;
}

.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*	Theme controls how everything looks in Gallery CSS.*/
.gallery {
  position: relative;
}

.gallery .item {
  height: 500px;
  overflow: hidden;
  text-align: center;
  background: #ccc;
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 6em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color .1s;
  transition: color .1s;
}

@media screen and (max-width: 650px) {
  .gallery .item {
    height: 350px;
  }
}
/** DEFINE SLIDE IMAGES IN THE "background" PROPERTY. ADDING NEW SLIDES REQUIRES EDITING THE HTML FILE**/
.slide-1 {
  background: url('intro-slide-f2696224d1e3a44c13922e81426eb669.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.slide-2 {
  background: url("slider-garcinia-indica-9f1e20b6dff2a690c0e9237fe436e6ad.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.slide-3 {
  background: url("slider-infuse-it-97334d08bca973c18a7f0a18bde2accf.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.slide-4 {
  background: url("slider-endless-possibilities-530bf7eb03f68eaca14fd17699ebe081.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.vc-slider-caption {
  /** verically center caption **/
  height: 400px;
}

.caption-boxed {
  background-color: #fff;
  padding: 20px;
}
.caption-boxed p {
  color: #6d6d6d;
  text-shadow: none;
}
.caption-boxed span {
  color: #6d6d6d;
}

.caption {
  padding: 10px;
}
.caption p {
  color: #fff;
  position: relative;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 1px 1px 1px #ccc;
}
.caption span {
  font-weight: 700;
}
.caption a {
  font-size: .8em;
}

.bottom {
  margin-top: 375px;
}

.slider-nav {
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 200px;
  width: 100%;
  margin: 0 auto;
}

.section {
  margin: 50px auto;
  border-bottom: 1px #dedede solid;
}

.section-2 {
  margin: 50px auto;
}

.illustration {
  margin: 70px 0;
  text-align: center;
  overflow: visible;
}
.illustration img {
  width: 90%;
  height: auto;
}

.circle-img {
  border-radius: 100%;
  width: 95%;
  height: auto;
  border: 3px solid #dedede;
}

/**CIRCLE SLIDER **/
.slideshow {
  margin: 0px auto;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  padding: 0;
  border-radius: 100%;
  border: 3px solid #dedede;
}

.slideshow > div {
  width: 100%;
  height: 100%;
}

.slideshow img {
  width: 100%;
  height: auto;
}
/** END CIRCLE SLIDER **/

.page-header-image {
  /** positioning for header image on all pages. Set specific images in each page section **/
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.number {
  /** fixes number alignment issues with Alegreya Sans **/
  font-family: Helvetica, Arial, Verdana;
}

.benefits {
  margin: 30px 20px;
}
.benefits li {
  margin: 10px auto;
}
.benefits i {
  color: #02ace3;
}

.healthy-icons {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  text-align: center;
}
.healthy-icons div {
  width: 20%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex: 1;
  padding: 10px;
}
.healthy-icons img {
  width: 90%;
}

.vc-sustainable {
  /**vertically align contents**/
  height: 380px;
}

.sustainable-farmer {
  background: url("sustainable-farmer.png") no-repeat center center;
  background-size: contain;
}

.vc-super-healthy {
  /**vertically align contents**/
  height: 470px;
}

.vc-balance {
  /**vertically align contents**/
  height: 650px;
}

.balance {
  background: url("sant-balance-da860bd27671ae4d162726629d164cc4.png") no-repeat bottom center;
  background-attachment: scroll;
  background-size: cover;
  height: 700px;
}

/** 
------------------
STORY PAGE STYLES
------------------
**/
.story {
  /**image for story page**/
  background: #02ace3 url("story-header-3b7839ce6940c76e7cafc2959e9df4b6.png") no-repeat center center;
  background-size: cover;
}

/** 
--------------------
SESSIONS PAGE STYLES
--------------------
**/
.sessions {
  /**image for sessions page**/
  background: #02ace3 url("sessions-header-26f3266807df7402e2be1675de3c26b0.jpg") no-repeat top center;
  background-size: cover;
}

/** 
-------------------
RECIPES PAGE STYLES 
-------------------
**/
.recipes {
  /** image for recipes page **/
  background: #02ace3 url("slider-endless-possibilities.png") no-repeat center center;
  background-size: cover;
}

.thumbnails {
  width: 100%;
  margin: 0 auto;
}

.thumb {
  display: inline-block;
  width: 17%;
  margin: 0 10px;
  text-align: center;
  vertical-align: top;
}
.thumb :hover {
  color: #02ace3;
}

.recipe-thumb {
  width: 100%;
  height: auto;
}
.recipe-thumb img {
  width: 100%;
  height: auto;
}

.recipe-title {
  width: 100%;
  font-weight: 500;
}

.recipe {
  margin: 200px auto;
}
.recipe .recipe-image {
  width: 100%;
  height: auto;
}
.recipe .recipe-image img {
  width: 100%;
  height: auto;
}
.recipe .recipe-desc {
  padding: 20px;
}
.recipe .recipe-desc ul {
  margin: 20px;
}
.recipe .recipe-desc ol {
  list-style: decimal;
  margin: 20px;
}

/** 
----------------
FAQ PAGE STYLES
----------------
**/
.faq {
  /** image for faq page **/
  background: #02ace3 url("faq-header-d5165d7d6ba9da00ee0dd72034e4a07d.png") no-repeat center center;
  background-size: cover;
}

/*----- Accordion -----*/
.accordion,
.accordion * {
  box-sizing: border-box;
}

.accordion {
  overflow: hidden;
  border: 1px solid #dedede;
  border-radius: 3px;
  background: #fff;
  margin: 50px auto;
}

/*----- Section Titles -----*/
.accordion-section-title {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border-bottom: 1px solid #dedede;
  background: #fff;
  -webkit-transition: all linear 0.15s;
          transition: all linear 0.15s;
  /* Type */
  font-size: 1em;
  font-weight: 500;
  color: #6d6d6d;
}

.accordion-section-title.active {
  background: #02ace3;
  /* Type */
  color: #fff;
  text-decoration: none;
}

.accordion-section-title:hover {
  background: #02ace3;
  color: #fff;
}

.accordion-section:last-child .accordion-section-title {
  border-bottom: none;
}

/*----- Section Content -----*/
.accordion-section-content {
  padding: 15px;
  display: none;
  border-bottom: 1px solid #dedede;
}
.accordion-section-content ol {
  list-style: decimal;
  margin: 50px;
}
.accordion-section-content li {
  margin-bottom: 20px;
}
.accordion-section-content a {
  color: #ed0c6e;
}

/**
-------------------
CONTACT PAGE STYLES
-------------------
**/
.contact {
  /**image for contact page **/
  background: #02ace3 url("contact-header-1e53693fe52ca871a1085512baa3b21d.png") no-repeat center center;
  background-size: cover;
}

/**
-----------------
TERMS OF USE PAGE 
-----------------
**/
.terms {
  /** image for terms page **/
  background: #02ace3 url("intro-slide-f2696224d1e3a44c13922e81426eb669.jpg") no-repeat center center;
  background-size: cover;
}

/**
--------------------
PRIVACY POLICY PAGE
--------------------
**/
.privacy {
  /**image for privacy page**/
  background: #02ace3 url("intro-slide-f2696224d1e3a44c13922e81426eb669.jpg") no-repeat center center;
  background-size: cover;
}

/**
-------------
FOOTER STYLES
-------------
**/
.footer-logo {
  position: absolute;
  width: 100px;
  left: 50%;
  margin-left: -40px;
  margin-top: -50px;
  z-index: 999;
  overflow: hidden;
}

footer {
  margin: 0 auto;
  background-color: #ed0c6e;
  color: #fff;
  overflow: auto;
}
footer a {
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -mox-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
footer a:hover {
  color: #02ace3;
  -webkit-transition: color .2s ease-in-out;
  -mox-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
footer .footer-social {
  background: #f5378a;
  padding: 70px 0 50px 0;
}
footer .footer-social div {
  text-align: center;
}
footer .footer-social li {
  font-weight: 300;
}
footer .footer-social li.title {
  font-weight: 700;
  font-size: 1.2em;
}
footer .footer-social i {
  color: #ed0c6e;
}
footer .footer-social .icon, footer .footer-social .second-menu .icon .icon-simple, .second-menu .icon footer .footer-social .icon-simple, footer .footer-social .second-menu .icon .icon-super-healthy, .second-menu .icon footer .footer-social .icon-super-healthy, footer .footer-social .second-menu .icon .icon-sustainable, .second-menu .icon footer .footer-social .icon-sustainable, footer .footer-social .second-menu .icon .icon-sant, .second-menu .icon footer .footer-social .icon-sant {
  width: 30px;
  height: 30px;
  margin: 0 30px;
  padding: 0;
  border-radius: 100%;
  background: #fff;
  -webkit-transition: background .2s ease-in-out;
  -mox-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}
footer .footer-social a:hover.icon, footer .footer-social .second-menu .icon a.icon-simple:hover, .second-menu .icon footer .footer-social a.icon-simple:hover, footer .footer-social .second-menu .icon a.icon-super-healthy:hover, .second-menu .icon footer .footer-social a.icon-super-healthy:hover, footer .footer-social .second-menu .icon a.icon-sustainable:hover, .second-menu .icon footer .footer-social a.icon-sustainable:hover, footer .footer-social .second-menu .icon a.icon-sant:hover, .second-menu .icon footer .footer-social a.icon-sant:hover {
  background: #02ace3;
  -webkit-transition: background .2s ease-in-out;
  -mox-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}
footer .footer-nav {
  background: #f41f7c;
  padding: 50px auto;
}
footer .footer-nav div {
  text-align: center;
}
footer .footer-nav ul {
  list-style: none;
  margin: 0 auto;
}
footer .footer-nav li {
  display: inline-block;
  padding: 15px;
}
footer .footer-legal ul {
  list-style: none;
}
footer .footer-legal ul li {
  display: inline-block;
  font-size: .8em;
  padding: 15px;
}
footer .footer-legal .terms {
  font-size: .8em;
  text-align: center;
}
footer .footer-legal .copyright {
  font-size: .6em;
  text-align: center;
}

/** sroll to top **/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #dedede url("cd-top-arrow-0507854d24d15df289478f66cd63f1bd.svg") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /** the button becomes visible **/
  visibility: visible;
  opacity: .8;
}

.cd-top.cd-fade-out {
  /** if the user keeps scrolling down, the button is out of focus and becomes less visible**/
  opacity: .8;
}

.no-touch .cd-top:hover,
.cd-top.cd-is-visible:hover,
.cd-top.cd-fade-out:hover {
  background-color: #02ace3;
  opacity: 1;
}

/**end scroll to top**/
/**
-------------------------------------
BEGIN MEDIA CALLS FOR RESPONSIVENESS
-------------------------------------
**/
@media screen and (max-width: 1024px) {
  .container {
    max-width: 940px;
  }
}
@media screen and (max-width: 980px) {
  .container {
    max-width: 90%;
  }

  .nav li {
    font-size: .9em;
  }
}
@media screen and (max-width: 850px) {
  .slideshow {
    width: 350px;
    height: 350px;
  }

  .thumb {
    width: 16%;
  }
}
@media screen and (max-width: 768px) {
  .nav li {
    margin-right: 15px;
    font-size: .9em;
  }

  .slideshow {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 650px) {
  .navbar, .navbar-fixed {
    border-bottom: 1px #dedede solid;
  }

  .nav {
    display: none;
    /** fixes overlap issue with mobile menu **/
  }

  .nav-logo {
    display: none;
    visibility: hidden;
  }

  .mobile-logo {
    display: block;
    visibility: visible;
    position: absolute;
    left: 10px;
    width: 100px;
    top: 12px;
    z-index: 10;
    -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
  }

  .nav-main {
    visibility: hidden;
    display: none;
  }

  .menu-btn span {
    display: block;
    -webkit-transition: all 1s linear;
            transition: all 1s linear;
  }

  .responsive-menu {
    visibility: visible;
    -webkit-transition: all .5s linear;
            transition: all .5s linear;
  }

  .expand {
    display: block !important;
    visibility: visible;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
  }

  .visible {
    display: block !important;
    -webkit-transition: all 2s linear;
            transition: all 2s linear;
  }

  .slide-1 {
    background-position: left center;
  }

  .caption div {
    position: absolute;
    top: 50px;
    right: 50px;
  }

  .caption .caption-boxed {
    position: absolute;
    position: absolute;
    right: 0;
  }

  .bottom {
    margin-top: 250px;
  }

  .second-menu {
    width: auto;
  }
  .second-menu .second-menu-item {
    padding: 15px;
  }

  .anchor {
    top: 5px;
  }

  .illustration img {
    max-width: 320px;
  }

  .slideshow {
    display: none;
  }

  .healthy-icons {
    width: 90%;
  }
  .healthy-icons div {
    -webkit-flex: none;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: inline-block;
    text-align: center;
  }
  .healthy-icons img {
    width: 60px;
  }

  .balance {
    height: 500px;
  }

  .vc-balance {
    height: 300px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
  }

  .thumb {
    width: 40%;
    display: inline-block;
  }

  footer .footer-social .col-1, footer .footer-social .col-2, footer .footer-social .col-3, footer .footer-social .col-4, footer .footer-social .col-5, footer .footer-social .col-6, footer .footer-social .col-7, footer .footer-social .col-8, footer .footer-social .col-9, footer .footer-social .col-10, footer .footer-social .col-11, footer .footer-social .col-12 {
    width: auto;
    /** override full width only for footer icons 8**/
  }
  footer .footer-social .icon, footer .footer-social .second-menu .icon .icon-simple, .second-menu .icon footer .footer-social .icon-simple, footer .footer-social .second-menu .icon .icon-super-healthy, .second-menu .icon footer .footer-social .icon-super-healthy, footer .footer-social .second-menu .icon .icon-sustainable, .second-menu .icon footer .footer-social .icon-sustainable, footer .footer-social .second-menu .icon .icon-sant, .second-menu .icon footer .footer-social .icon-sant {
    margin: 0 15px;
  }
  footer .footer-nav {
    margin-top: -10px;
  }
  footer .footer-nav div {
    text-align: center;
    padding: 10px 0;
  }
  footer .footer-legal {
    margin-top: -10px;
  }
}
@media screen and (max-width: 400px) {
  .second-menu .second-menu-item {
    padding: 5px;
  }
  .second-menu .icon .icon-simple, .second-menu .icon .icon-super-healthy, .second-menu .icon .icon-sustainable, .second-menu .icon .icon-sant {
    height: 20px;
  }
}
