<div class="container page">
  <h1>Shop Sant</h1>
  <div>
      <% cache(cache_key_for_products) do %>
        <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
      <% end %>
  </div>
  <div >
    <h3>Simple, super healthy, sustainable AND SURPRISINGLY AFFORABLE</h3>

    <ul>
      <li>• 30 cents a serving.  One entire month of fruit infusions costs about as much as 3 kombuchas, fresh juices or coconut waters</li>
      <li>• No complicated expensive equipment, difficult clean up, or continuous trips to the store</li>
    </ul></br>

    <h3>Pick the option that’s right for you</h3>

    <p>Check us out with 1 pouch or go all in for your health and enjoy Sant everyday with the subscription.  The subscription is freaking great:</p>

    <ul>
      <li>
        • You get a SWEET DEAL and you don’t have to worry about re-ordering or running out.
      </li>
      <li>
        • You get a reserved spot in our Sant sessions.  (The Sant sessions alone are worth it).
      </li>
    </ul></br>


    <h3>You’re going to love it</h3>

    <ul>
      <li>
        "I’ve been waiting for a drink like this” – Laura
      </li>
      <li>
        “I’m addicted.  I drink it every morning” - Vince
      </li>
      <li>
        “Easy way to get the superfruit benefits” – Nancy
      </li>
      <li>
        “My kids even love the fruit infusions.  I put a drop of organic honey in and they gulp it down” - Renee
      </li>
      <li>
        “My friends are coming over this weekend for a Sant" -gria party. 
      </li>
      <li>
        "I’m sure they’ll love it just as much as I do” – Maria
      </li>
      <li>
        “The drink is so refreshing.  I bring it with me every time I work out” - Kayla
      </li>
    </ul>






    “This drink is for me.  I’d been looking for something without much sugar that still tastes good” – Gary  

  </div>
</div>

