<div style="margin: 0 auto; width: 500px;">
	<table>
	  <tbody>
	    <% @products.each do |product| %>
	      <tr>
	        <td style="width: 300px;">
				<span style="font-size: 28px; line-height: 36px;"><%= product.name %></span>
				<br />
	        	<span style="font-size: 16px;"><%= number_to_currency(product.price, precision: 2) %></span>
				<br />
				 <%= button_to 'Buy', {:action => 'add_product_to_cart', product_id: product.id}, {class: 'btn btn-primary'} %>
			</td>
			<td style="text-align: right; width: 200px;"><%= image_tag(product.image_url(:thumb), style: "display: inline-block;") %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>