<!DOCTYPE html><a 
<html>
  <head>
    <title>Upholsterly - ERROR</title>
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
    <style type="text/css">
      body { 
        color: darkgray;
		font-family: 'Gudea', sans-serif;
      }
      a:link {
        color: navy;
        text-decoration: none;
      }
      a:visited {
        color: navy;
        text-decoration: none;
      }
      a:hover {
        color: darkgray;
        text-decoration: none;
      }
      div.dialog {
        font-size: 22px;
        margin: 30px auto 10px auto;
        padding: 5px;
        text-align: center;
        width: 750px;
      }
      div.homepage {
        font-size: 32px;
        margin: 10px auto 20px auto;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        width: 400px;
      }
      .hompage a:link {
    		color: #26466D;
    		text-decoration: none;
      }
      .hompage a:visited {
    		color: #26466D;
    		text-decoration: none;
      }
      .homepage a:hover {
    		color: darkgray; 
    		text-decoration: none;
      }
      div.broken_sofa {
        background: white;
        border: solid 1px;
        border-color: darkgray;
        margin: auto;
        padding: 20px 20px 16px 20px;
        width: 640px;
      }
    </style>
  </head>
  <body>
    <div class="dialog">
      This site is under construction. Please visit again soon. 
    </div>
    <div class="broken_sofa">
      <a href="http://www.idrinksant.com"><img src="https://s3.amazonaws.com/bryon-ecommerce/sant_superfruit.jpg" title="Sant superfruit" style="width: 640px;"></a>
    </div>
    <div class="homepage" style="font-family: 'Grand Hotel', cursive;">
      <!-- <a href="http://www.idrinksant.com" style="font-family: 'Gudea', sans-serif; font-size: 22px; color: darkgray;">return to</a><a href="http://www.idrinksant.com" style="font-size: 36px; padding: 0 10px;">Sant</a><a href="http://www.idrinksant.com" style="font-family: 'Gudea', sans-serif; font-size: 22px; color: darkgray;">homepage</a> -->
    </div>
  </body>
</html>
